.writeUp{
    font-style: normal;
    /* font-weight: normal; */
    font-size: 16px;
    line-height: 33px;
    color: #000000;
}
.main_image{
    object-fit: cover;
    height: 45vh;
}
.theNav a{
    color: #000000;
}
.theNav a:active{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #741995 !important;
    border-bottom: 3px solid #741995 !important;
}
.theNav a :hover{
    border-bottom: none;
}
.copyright_nav a{
    color: #5B6982;
    font-size: 13px;
 }